<div class="wrapper">
  <div class="header">
    <img ng-if="profileImg" class="thumbnail" ng-src="{{profileImg}}">
    <img ng-if="!profileImg" src='../images/logo.png' width="64">
    <h2>{{username}}</h2>
    <p>Segmentación automática de seguidores de Instagram</p>
    <ul>
      <li ng-class="{'active': controls.step === 'scan'}" ng-click="controls.reachedEnd ? controls.step = 'scan': null">
        Escaneo de Followers
      </li>
      <li ng-class="{'active': controls.step === 'classify'}" ng-click="controls.reachedEnd ? controls.step = 'classify': null">
        Clasificación de seguidores
      </li>
      <li ng-class="{'active': controls.step === 'results'}" ng-click="controls.reachedEnd ? controls.step = 'results' : null">
        Resultados de segmentación
      </li>
      <li ng-class="{'active': controls.step === 'validate'}" ng-click="controls.reachedEnd ? controls.step = 'validate': null">
        Validación de resultados
      </li>
    </ul>
  </div>

  <div class="container">
    <div ng-if="controls.step === 'scan'" class="scan">
      <h1>Escaneo de Followers</h1>
      <div class="description">
        <p>El primer paso consiste en el recorrido de la lista de tus seguidores y la descarga de sus imágenes de perfil y posts.</p>
        <p>Este proceso está automatizado con Selenium Webdriver. Selenium es un entorno de pruebas de software para
          aplicaciones basadas en la web que emula acciones de usuarios.</p>
        <p ng-if="controls.isLoading">Aguarda mientras se descargan todas las imágenes..</p>
      </div>
      <div ng-if="controls.isLoading" class="spinner_container">
        <div class="spinner"></div>
      </div>

      <div class="count_followers" ng-if="!controls.isLoading">
        <div class="counter">
          <i class="fa fa-address-book fa-2x"></i>
          <h2 class="timer count-title count-number">300</h2>
          <p class="count-text ">Followers detectados</p>
        </div>
        <div class="counter">
          <i class="fa fa-image fa-2x"></i>
          <h2 class="timer count-title count-number">2385</h2>
          <p class="count-text ">Imágenes descargadas</p>
        </div>
      </div>
      <a class="button_cta" ng-if="!controls.isLoading" ng-click="controls.step = 'classify';">Siguiente paso</a>
    </div>

    <div ng-if="controls.step === 'classify'" class="classify">
      <h1>Clasificación por imágenes</h1>
      <div class="description">
        <p>El Clasificador consiste en un modelo previamente entrenado con una determinada cantidad de categorías de clasificación y su
          algoritmo clasificador.</p>
        <p>Cada imagen persistida en el paso anterior será analizada por el clasificador y categorizada dentro de las clases
          que contenga el modelo.</p>
        <p>El clasificador está implementado como una red neuronal convolucional (CNN).</p>
        <div class="clasificador_diagrama">
          <img src="../images/clasificador.png">
        </div>
        <div class="spinner_container">
          <div class="spinner"></div>
        </div>
      </div>
      <a class="button_cta" ng-if="!controls.isLoading" ng-click="controls.step = 'results';">Siguiente paso</a>
    </div>

    <div ng-if="controls.step === 'results'" class="results">
      <h1>Resultados de Segmentación</h1>
      <div class="description">
        <p>Selecciona los filtros deseados para mostrar los seguidores que apliquen a esos criterios.</p>
      </div>
      <div class="results_container">
        <div class="results_filters">
          <div class="filters_section">
            <div class="filters_section_title">
              <i class="fa fa-users"></i>
              Audiencia
            </div>
            <ul>
              <li>
                <input type="checkbox" name="selectedFilters[]" value="mujeres" ng-checked="audienceSelection.indexOf('mujeres') > -1"
                       ng-click="toggleSelection(audienceSelection, 'mujeres'); refreshAudience()"><span>Mujeres</span>
              </li>
              <li>
                <input type="checkbox" name="selectedFilters[]" value="hombres" ng-checked="audienceSelection.indexOf('hombres') > -1"
                       ng-click="toggleSelection(audienceSelection, 'hombres'); refreshAudience()"><span>Hombres</span>
              </li>
              <li>
                <input type="checkbox" name="selectedFilters[]" value="generico" ng-checked="audienceSelection.indexOf('generico') > -1"
                       ng-click="toggleSelection(audienceSelection, 'generico'); refreshAudience()"><span>Genérico</span>
              </li>
            </ul>
          </div>
          <div class="filters_section">
            <div class="filters_section_title">
              <i class="fa fa-info-circle"></i>
              Información
            </div>
            <ul>
              <li>
                <input type="checkbox" name="selectedFilters[]" value="animal" ng-checked="infoSelection.indexOf('animal') > -1"
                       ng-click="toggleSelection(infoSelection, 'animales')">Animales
              </li>
              <li>
                <input type="checkbox" name="selectedFilters[]" value="deportista" ng-checked="infoSelection.indexOf('deportista') > -1"
                       ng-click="toggleSelection(infoSelection, 'deporte')">Deporte
              </li>
              <li>
                <input type="checkbox" name="selectedFilters[]" value="musico" ng-checked="infoSelection.indexOf('musico') > -1"
                       ng-click="toggleSelection(infoSelection, 'musica')">Música
              </li>
              <li>
                <input type="checkbox" name="selectedFilters[]" value="tecnologia" ng-checked="infoSelection.indexOf('tecnologia') > -1"
                       ng-click="toggleSelection(infoSelection, 'tecnologia')">Tecnología
              </li>
            </ul>
          </div>
        </div>
        <div class="results_metrics">
          <div class="results_metrics_filters">
            <ul>
              <li ng-repeat="filter in audienceSelection" ng-class="{'mujeres':filter === 'mujeres', 'generico':filter === 'generico',
            'hombres':filter === 'hombres'}">{{filter | uppercase}}</li>
            </ul>
            <ul>
              <li ng-repeat="filter in infoSelection">{{filter | uppercase}}</li>
            </ul>
            <div class="piechart_container">
              <pie-chart data="pieChart"></pie-chart>
            </div>
          </div>
        </div>
      </div>
      <!--<div ng-init="animateBars();">
        <div class="bar-chart primary" data-total="76" animated>
          <span class="bar-chart&#45;&#45;text">76% MUJERES</span>
          <span class="bar-chart&#45;&#45;inner" style="width:76%;"></span>
        </div>
        <div class="followers_container">
          <ul class="scroll">
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
          </ul>
        </div>

        <div class="bar-chart secondary" data-total="42" animated>
          <span class="bar-chart&#45;&#45;text">42% HOMBRES</span>
          <span class="bar-chart&#45;&#45;inner" style="width:42%;"></span>
        </div>
        <div class="followers_container">
          <ul class="scroll">
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
          </ul>
        </div>

        <div class="bar-chart tertiary" data-total="82" animated>
          <span class="bar-chart&#45;&#45;text">82% ANIMALES</span>
          <span class="bar-chart&#45;&#45;inner" style="width:82%;"></span>
        </div>
        <div class="followers_container">
          <ul class="scroll">
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
          </ul>
        </div>

        <div class="bar-chart tertiary" data-total="82" animated>
          <span class="bar-chart&#45;&#45;text">82% DEPORTE</span>
          <span class="bar-chart&#45;&#45;inner" style="width:82%;"></span>
        </div>
        <div class="followers_container">
          <ul class="scroll">
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
          </ul>
        </div>

        <div class="bar-chart tertiary" data-total="62" animated>
          <span class="bar-chart&#45;&#45;text">62% MUSICA</span>
          <span class="bar-chart&#45;&#45;inner" style="width:62%;"></span>
        </div>
        <div class="followers_container">
          <ul class="scroll">
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
          </ul>
        </div>

        <div class="bar-chart tertiary" data-total="72" animated>
          <span class="bar-chart&#45;&#45;text">72% TECNOLOGIA</span>
          <span class="bar-chart&#45;&#45;inner" style="width:72%;"></span>
        </div>
        <div class="followers_container">
          <ul class="scroll">
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
          </ul>
        </div>

        <div class="bar-chart tertiary" data-total="42" animated>
          <span class="bar-chart&#45;&#45;text">42% MARCA</span>
          <span class="bar-chart&#45;&#45;inner" style="width:42%;"></span>
        </div>
        <div class="followers_container">
          <ul class="scroll">
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
            <li class="list-item"></li>
          </ul>
        </div>
      </div>-->
      <a class="button_cta" ng-if="!controls.isLoading" ng-click="controls.step = 'validate'; controls.reachedEnd = true;">Siguiente paso</a>
    </div>

    <div ng-if="controls.step === 'validate'" class="validate">
      <h1>Validación de los resultados</h1>
      <div class="description">
        <p>En este último paso se pueden validar los resultados del algoritmo de clasificación brindando las clases correctas
          para cada seguidor.</p>
        <p>Las clases manualmente elegidas para cada uno de tus seguidores deben ser ingresadas en un archivo .csv que
          respete el formato de este template (clickea <a href="" ng-click="downloadCSV()">aquí</a> para descargarlo).
        </p>
        <p>La Matriz de Confusión aporta métricas para evaluar al clasificador considerando las predicciones positivas y negativas,
          y los valores reales positivos y negativos para cada clase.</p>
        <!--Error: % de Predicciones incorrectas / total

        = (FP + FN) / (TP + TN + FP + FN)

        Accuracy: % de Predicciones correctas / total

        = (TP + TN) / (TP + TN + FP + FN)

        Precision: Cuántos items seleccionados son relevantes

        = TP / (TP + FP)

        Recall: Cuántos items relevantes fueron encontrados

        = TP / (TP + FN)

        F-Measure: media armónica entre Precision y Recall

        = 2 x (Precision x Recall / ( Precision + Recall ))-->

        <div class="file__upload__control">
          <span ng-show="!csvFilename" class="file__upload__inner">Archivo CSV..</span>
          <span ng-show="csvFilename" class="file__upload__inner">{{csvFilename}}</span>
          <input id="csv-file" name="csv" class="upload" type="file" onchange="angular.element(this).scope().csvUploaded(this)"/>

          <div class="browse_button" onclick="document.getElementById('csv-file').value = null;
          document.getElementById('csv-file').click()">Abrir</div>
        </div>

        <div class="validation">
          <h3>Mujeres</h3>
          <div class="confusionMatrix_container">
            <table class="confusionMatrix">
              <tr>
                <td></td>
                <td></td>
                <td><strong>Predicción</strong></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>SI</td>
                <td>NO</td>
                <td><strong>Total</strong></td>
              </tr>
              <tr>
                <td class="actual"><strong>Valor Real</strong></td>
                <td>SI</td>
                <td class="green">5.000</td>
                <td class="red">90</td>
                <td>5090</td>
              </tr>
              <tr>
                <td></td>
                <td>NO</td>
                <td class="red">120</td>
                <td class="green">1500</td>
                <td>1620</td>
              </tr>
              <tr>
                <td></td>
                <td><strong>Total</strong></td>
                <td>5120</td>
                <td>1590</td>
                <td></td>
              </tr>
            </table>
            <div class="metricas">
              <ul>
                <li>
                  <label>Error: % de Predicciones incorrectas / Total</label>
                  <p class="count-text">12%</p>
                </li>
                <li>
                  <label>Accuracy: % de Predicciones correctas / Total</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Precision: Cuántos items seleccionados son relevantes</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Recall: Cuántos items relevantes fueron encontrados</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>F-Measure: media armónica entre Precision y Recall</label>
                  <p class="count-text">67%</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="validation">
          <h3>Hombres</h3>
          <div class="confusionMatrix_container">
            <table class="confusionMatrix">
              <tr>
                <td></td>
                <td></td>
                <td><strong>Predicción</strong></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>SI</td>
                <td>NO</td>
                <td><strong>Total</strong></td>
              </tr>
              <tr>
                <td class="actual"><strong>Valor Real</strong></td>
                <td>SI</td>
                <td class="green">5.000</td>
                <td class="red">90</td>
                <td>5090</td>
              </tr>
              <tr>
                <td></td>
                <td>NO</td>
                <td class="red">120</td>
                <td class="green">1500</td>
                <td>1620</td>
              </tr>
              <tr>
                <td></td>
                <td><strong>Total</strong></td>
                <td>5120</td>
                <td>1590</td>
                <td></td>
              </tr>
            </table>
            <div class="metricas">
              <ul>
                <li>
                  <label>Error: % de Predicciones incorrectas / Total</label>
                  <p class="count-text">12%</p>
                </li>
                <li>
                  <label>Accuracy: % de Predicciones correctas / Total</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Precision: Cuántos items seleccionados son relevantes</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Recall: Cuántos items relevantes fueron encontrados</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>F-Measure: media armónica entre Precision y Recall</label>
                  <p class="count-text">67%</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="validation">
          <h3>Animales</h3>
          <div class="confusionMatrix_container">
            <table class="confusionMatrix">
              <tr>
                <td></td>
                <td></td>
                <td><strong>Predicción</strong></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>SI</td>
                <td>NO</td>
                <td><strong>Total</strong></td>
              </tr>
              <tr>
                <td class="actual"><strong>Valor Real</strong></td>
                <td>SI</td>
                <td class="green">5.000</td>
                <td class="red">90</td>
                <td>5090</td>
              </tr>
              <tr>
                <td></td>
                <td>NO</td>
                <td class="red">120</td>
                <td class="green">1500</td>
                <td>1620</td>
              </tr>
              <tr>
                <td></td>
                <td><strong>Total</strong></td>
                <td>5120</td>
                <td>1590</td>
                <td></td>
              </tr>
            </table>
            <div class="metricas">
              <ul>
                <li>
                  <label>Error: % de Predicciones incorrectas / Total</label>
                  <p class="count-text">12%</p>
                </li>
                <li>
                  <label>Accuracy: % de Predicciones correctas / Total</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Precision: Cuántos items seleccionados son relevantes</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Recall: Cuántos items relevantes fueron encontrados</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>F-Measure: media armónica entre Precision y Recall</label>
                  <p class="count-text">67%</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="validation">
          <h3>Deporte</h3>
          <div class="confusionMatrix_container">
            <table class="confusionMatrix">
              <tr>
                <td></td>
                <td></td>
                <td><strong>Predicción</strong></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>SI</td>
                <td>NO</td>
                <td><strong>Total</strong></td>
              </tr>
              <tr>
                <td class="actual"><strong>Valor Real</strong></td>
                <td>SI</td>
                <td class="green">5.000</td>
                <td class="red">90</td>
                <td>5090</td>
              </tr>
              <tr>
                <td></td>
                <td>NO</td>
                <td class="red">120</td>
                <td class="green">1500</td>
                <td>1620</td>
              </tr>
              <tr>
                <td></td>
                <td><strong>Total</strong></td>
                <td>5120</td>
                <td>1590</td>
                <td></td>
              </tr>
            </table>
            <div class="metricas">
              <ul>
                <li>
                  <label>Error: % de Predicciones incorrectas / Total</label>
                  <p class="count-text">12%</p>
                </li>
                <li>
                  <label>Accuracy: % de Predicciones correctas / Total</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Precision: Cuántos items seleccionados son relevantes</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Recall: Cuántos items relevantes fueron encontrados</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>F-Measure: media armónica entre Precision y Recall</label>
                  <p class="count-text">67%</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="validation">
          <h3>Música</h3>
          <div class="confusionMatrix_container">
            <table class="confusionMatrix">
              <tr>
                <td></td>
                <td></td>
                <td><strong>Predicción</strong></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>SI</td>
                <td>NO</td>
                <td><strong>Total</strong></td>
              </tr>
              <tr>
                <td class="actual"><strong>Valor Real</strong></td>
                <td>SI</td>
                <td class="green">5.000</td>
                <td class="red">90</td>
                <td>5090</td>
              </tr>
              <tr>
                <td></td>
                <td>NO</td>
                <td class="red">120</td>
                <td class="green">1500</td>
                <td>1620</td>
              </tr>
              <tr>
                <td></td>
                <td><strong>Total</strong></td>
                <td>5120</td>
                <td>1590</td>
                <td></td>
              </tr>
            </table>
            <div class="metricas">
              <ul>
                <li>
                  <label>Error: % de Predicciones incorrectas / Total</label>
                  <p class="count-text">12%</p>
                </li>
                <li>
                  <label>Accuracy: % de Predicciones correctas / Total</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Precision: Cuántos items seleccionados son relevantes</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Recall: Cuántos items relevantes fueron encontrados</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>F-Measure: media armónica entre Precision y Recall</label>
                  <p class="count-text">67%</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="validation">
          <h3>Tecnología</h3>
          <div class="confusionMatrix_container">
            <table class="confusionMatrix">
              <tr>
                <td></td>
                <td></td>
                <td><strong>Predicción</strong></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>SI</td>
                <td>NO</td>
                <td><strong>Total</strong></td>
              </tr>
              <tr>
                <td class="actual"><strong>Valor Real</strong></td>
                <td>SI</td>
                <td class="green">5.000</td>
                <td class="red">90</td>
                <td>5090</td>
              </tr>
              <tr>
                <td></td>
                <td>NO</td>
                <td class="red">120</td>
                <td class="green">1500</td>
                <td>1620</td>
              </tr>
              <tr>
                <td></td>
                <td><strong>Total</strong></td>
                <td>5120</td>
                <td>1590</td>
                <td></td>
              </tr>
            </table>
            <div class="metricas">
              <ul>
                <li>
                  <label>Error: % de Predicciones incorrectas / Total</label>
                  <p class="count-text">12%</p>
                </li>
                <li>
                  <label>Accuracy: % de Predicciones correctas / Total</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Precision: Cuántos items seleccionados son relevantes</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Recall: Cuántos items relevantes fueron encontrados</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>F-Measure: media armónica entre Precision y Recall</label>
                  <p class="count-text">67%</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="validation">
          <h3>Marca</h3>
          <div class="confusionMatrix_container">
            <table class="confusionMatrix">
              <tr>
                <td></td>
                <td></td>
                <td><strong>Predicción</strong></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>SI</td>
                <td>NO</td>
                <td><strong>Total</strong></td>
              </tr>
              <tr>
                <td class="actual"><strong>Valor Real</strong></td>
                <td>SI</td>
                <td class="green">5.000</td>
                <td class="red">90</td>
                <td>5090</td>
              </tr>
              <tr>
                <td></td>
                <td>NO</td>
                <td class="red">120</td>
                <td class="green">1500</td>
                <td>1620</td>
              </tr>
              <tr>
                <td></td>
                <td><strong>Total</strong></td>
                <td>5120</td>
                <td>1590</td>
                <td></td>
              </tr>
            </table>
            <div class="metricas">
              <ul>
                <li>
                  <label>Error: % de Predicciones incorrectas / Total</label>
                  <p class="count-text">12%</p>
                </li>
                <li>
                  <label>Accuracy: % de Predicciones correctas / Total</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Precision: Cuántos items seleccionados son relevantes</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>Recall: Cuántos items relevantes fueron encontrados</label>
                  <p class="count-text">67%</p>
                </li>
                <li>
                  <label>F-Measure: media armónica entre Precision y Recall</label>
                  <p class="count-text">67%</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <a class="button_cta" ui-sref="login">Salir</a>
    </div>
  </div>
</div>