<div class="wrapper">
  <div class="header">
    <img ng-if="profileImg" class="thumbnail" ng-src="{{profileImg}}">
    <img ng-if="!profileImg" src='../images/logo.png' width="64">
    <h2>{{username}}</h2>
    <p>Segmentación automática de seguidores de Instagram</p>
    <ul>
      <li ng-class="{'active': controls.step === 'scan'}" ng-click="controls.reachedEnd ? controls.step = 'scan': null">
        Escaneo de Followers
      </li>
      <li ng-class="{'active': controls.step === 'classify'}" ng-click="controls.reachedEnd ? controls.step = 'classify': null">
        Clasificación de seguidores
      </li>
      <li ng-class="{'active': controls.step === 'results'}" ng-click="controls.reachedEnd ? controls.step = 'results' : null">
        Resultados de segmentación
      </li>
      <li ng-class="{'active': controls.step === 'validate'}" ng-click="controls.reachedEnd ? controls.step = 'validate': null">
        Validación de resultados
      </li>
    </ul>
  </div>

  <div class="container">
    <div ng-if="controls.step === 'scan'" class="scan">
      <ng-include src="'views/scan.html'"></ng-include>
    </div>

    <div ng-if="controls.step === 'classify'" class="classify">
      <ng-include src="'views/classify.html'"></ng-include>
    </div>

    <div ng-if="controls.step === 'results'" class="results">
      <ng-include src="'views/results.html'"></ng-include>
    </div>

    <div ng-if="controls.step === 'validate'" class="validate">
      <ng-include src="'views/validate.html'"></ng-include>
    </div>
  </div>
</div>