<h1>Validación de los resultados</h1>
<div class="description">
    <p>En este último paso se pueden validar los resultados del algoritmo de clasificación brindando las clases correctas
        para cada seguidor.</p>
    <p>Las clases manualmente elegidas para cada uno de tus seguidores deben ser ingresadas en un archivo .csv que
        respete el formato de este template (clickea <a href="" ng-click="downloadCSV()">aquí</a> para descargarlo).
    </p>
    <p>La Matriz de Confusión aporta métricas para evaluar al clasificador considerando las predicciones positivas y negativas,
        y los valores reales positivos y negativos para cada clase.</p>
    <!--Error: % de Predicciones incorrectas / total

    = (FP + FN) / (TP + TN + FP + FN)

    Accuracy: % de Predicciones correctas / total

    = (TP + TN) / (TP + TN + FP + FN)

    Precision: Cuántos items seleccionados son relevantes

    = TP / (TP + FP)

    Recall: Cuántos items relevantes fueron encontrados

    = TP / (TP + FN)

    F-Measure: media armónica entre Precision y Recall

    = 2 x (Precision x Recall / ( Precision + Recall ))-->

    <div class="file__upload__control">
        <span ng-show="!csvFilename" class="file__upload__inner">Archivo CSV..</span>
        <span ng-show="csvFilename" class="file__upload__inner">{{csvFilename}}</span>
        <input id="csv-file" name="csv" class="upload" type="file" onchange="angular.element(this).scope().csvUploaded(this)"/>

        <div class="browse_button" onclick="document.getElementById('csv-file').value = null;
          document.getElementById('csv-file').click()">Abrir</div>
    </div>

    <div class="validation">
        <span class="results_container_title">Mujeres</span>
        <div class="confusionMatrix_container">
            <table class="confusionMatrix">
                <tr>
                    <td></td>
                    <td></td>
                    <td><strong>Predicción</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Positivos</td>
                    <td>Negativos</td>
                    <td><strong>Total</strong></td>
                </tr>
                <tr>
                    <td class="actual"><strong>Valor Real</strong></td>
                    <td>Positivos</td>
                    <td class="accuracy">5.000 (TP)</td>
                    <td class="error">90 (FN)</td>
                    <td>5090</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Negativos</td>
                    <td class="error">120 (FP)</td>
                    <td class="accuracy">1500 (TN)</td>
                    <td>1620</td>
                </tr>
                <tr>
                    <td></td>
                    <td><strong>Total</strong></td>
                    <td>5120</td>
                    <td>1590</td>
                    <td></td>
                </tr>
            </table>
            <div class="metricas">
                <div class="metrica error">
                    <div>
                        <h2>12%</h2>
                        <span title="% de Predicciones incorrectas / Total ((FP + FN) / (TP + TN + FP + FN))">Error</span>
                    </div>
                </div>
                <div class="metrica accuracy">
                    <div>
                        <h2>67%</h2>
                        <span title="% de Predicciones correctas / Total ((TP + TN) / (TP + TN + FP + FN))">Accuracy</span>
                    </div>
                </div>
                <div class="metrica">
                    <div>
                        <h2>67%</h2>
                        <span title="Cuántos items seleccionados son relevantes (TP / (TP + FP))">Precision</span>
                    </div>
                </div>
                <div class="metrica">
                    <div>
                        <h2>67%</h2>
                        <span title="Cuántos items relevantes fueron encontrados (TP / (TP + FN))">Recall</span>
                    </div>
                </div>
                <div class="metrica">
                    <div>
                        <h2>67%</h2>
                        <span title="Media armónica entre Precision y Recall (2 x (Precision x Recall / ( Precision + Recall )))">F-Measure</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="button_cta" ui-sref="login">Finalizar</a>